body{
    background-color: rgb(192, 188, 188);
    padding-left: 50px;
    padding-top: 50px
}

header{
    font-style: italic;
    color: rgb(255, 51, 0);
    padding-bo: 10px;
}   

.product-subtitle {
    font-size: 20px;
    color: rgb(77, 76, 76);
}

.hero-image {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 20px
}

.hero-text {
    position: absolute;
    bottom: 200px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

product-description {
    font-size: 0.9rem;
    color: #ccc;
    margin: bottom 20px;
}

.cta-button{
    background-color: aqua;
    color:rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover{
    background-color: #218838;
}

.main-footer {
    background-color: grey;
    padding: 20px 40px;
    text-align: center;
    color: white;
}

.main-footer:hover{
    color: #ccc
}