body{
    background-color: rgb(192, 188, 188);
    padding-left: 50px;
    padding-top: 50px
}

header{
    padding-bottom: 20px;
    font-style: italic;
    color: rgb(255, 51, 0)
}    

.hero-image {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 1rem;
    position: relative;
  }
  

  .hero-text {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    padding: 1rem;
    border-radius: 8px;
  }

  .product-description {
    font-size: 0.9rem;
    color: #868484; 
    margin-bottom: 1rem;
  }
  
 
  .cta-button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0056b3; 
  }
  
  .main-footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
  }
  
  .main-footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .main-footer a:hover {
    color: #00bcd4; 
  }
